<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
  <div class="rounded-circle" fxLayout="row" fxLayoutAlign="center center">
    <a target="_blank" [href]="https://github.com/LingVuDev/"><fa-icon [icon]="['fab', 'github']" size="2x" [styles]="{'color': 'black', 'margin-top': '2.5px'}"></fa-icon></a>
  </div>
  <div class="rounded-circle" fxLayout="row" fxLayoutAlign="center center">
    <a target="_blank" [href]="https://www.linkedin.com/in/ling-vu-564572149/"><fa-icon [icon]="['fab', 'linkedin-in']" size="2x" [styles]="{'color': 'black', 'margin-top': '2.5px'}"></fa-icon></a>
  </div>
  <div class="rounded-circle" fxLayout="row" fxLayoutAlign="center center">
    <a target="_blank" [href]="https://gitlab.com/vumanhling1"><fa-icon [icon]="['fab', 'gitlab']" size="2x" [styles]="{'color': 'black', 'margin-top': '2.5px'}"></fa-icon></a>
  </div>
</div>
