<nav class="navbar navbar-dark" fxLayout="row" fxLayoutAlign="space-between center">
  <a href="#top"><div class="nav-title"><h2>LING VU</h2></div></a>
  <div fxLayout="row" fxLayoutAlign="end center">
    <a href="#projects"><div class="nav-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"><fa-icon [icon]="['fas', 'smile']" size="2x"></fa-icon><h6>About</h6></div></a>
    <div class="nav-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"><fa-icon [icon]="['fas', 'book']" size="2x"></fa-icon><h6>Projects</h6></div>
    <div class="nav-item" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px"><fa-icon [icon]="['fas', 'mail-bulk']" size="2x"></fa-icon><h6>Contact</h6></div>
  </div>
</nav>