.navbar {
    height: 120px;
    padding: 0;
    background: red;

    .nav-title {
        min-width: 128px;
        margin-left: 30px;
        padding: 10px;
        border: 1px solid white;
        color: white;
        text-decoration:none;
        cursor: pointer;
        user-select: none;

        h2 {
            margin: 0;
        }
    }
}
