<div class="about">
  <span class="mat-display-3">Hello there 👋</span>
  <div class="about__introduction">
    <span class="mat-title">Who's this guy?</span>
    <br>
    <span>
      I'm a Front-End Developer for Retresco in Berlin, Germany. <br>
      I have serious passion for cutting edge tech and creating complex, fully tested code.
    </span>
  </div>
  <span class="mat-title">Tech Stack</span>
  <div class="about__tech-stack">
    <app-stack-card [brand]="'angular'"></app-stack-card>
    <app-stack-card [brand]="'javascript'"></app-stack-card>
    <app-stack-card [brand]="'node'"></app-stack-card>
    <app-stack-card [brand]="'react'"></app-stack-card>
    <app-stack-card [brand]="'sass'"></app-stack-card>
  </div>
</div>
