<div class="cover">
  <div class="cover__first-box">
    <div class="profile-picture"></div>
    <div class="title">
      <span class="name">Ling Vu</span>
      <span class="sub">— Frontend Engineer</span>
      <span class="description">Developer focused on productivity<br>
        and complex feature integrations</span>
    </div>
  </div>
  <div class="cover__sec-box">
    <mat-tab-group mat-align-tabs="end">
      <mat-tab label="About">About</mat-tab>
      <mat-tab label="Projects">Projects</mat-tab>
      <mat-tab label="Contact">Contact</mat-tab>
    </mat-tab-group>
  </div>
</div>
